#main{
    width: 97%;

    p,
    div{
        font-size: 2em;
        a{
            font-weight: bold;
        }
    }

    pre{
        font-size: 3em;
    }    
}
.btn{    
    height: 40px;
    border-radius: 10px;
    font-size: 10;
    font-family: Arial, Helvetica, sans-serif;    
}
.btn-blue{
    background: #0069D9;
}
